.darkTheme {
  .twitterBackground {
    background-color: #000000;
    color: #d3d3d3;
  }
  
  .twitterTrends {
    background-color: #15181c;
    color: #d3d3d3;
  }
  
  .twitterSidebar {
    color: #d3d3d3;
    a {
      color: #d3d3d3;
    }
  }
  
  .mini_layer_menu {
    li {
      &:hover {
        background-color: #15181c;
      }
    }
  }
  
  .setting {
    background: #15181c;
  }
  
  .feedBorder {
    border: 1px solid #2f3336;
  }

  .mob_border_bottom {
    border-bottom: 1px solid #2f3336;
  }
}
