.lightTheme {
  .twitterBackground {
    background-color: #ffffff;
    color: #000000;
  }
  
  .twitterTrends {
    background-color: #f7f9fa;
    color: #000000;
  }
  
  .twitterSidebar {
    color: #000000;
    a {
      color: #000000;
    }
  }
  
  .mini_layer_menu {
    li {
      &:hover {
        background-color: #f7f9fa;
      }
    }
  }
  
  .setting {
    background: #f7f9fa;
  }
  
  .feedBorder {
    border: 1px solid #ebeef0;
  }

  .mob_border_bottom {
    border-bottom: 1px solid #ebeef0;
  }

  .setting_border {
    border-top: 1px solid #ebeef0;
    border-bottom: 1px solid #ebeef0;
  }

  .left_border {
    border-left: 1px solid #ebeef0;
  }
  .left_right_border {
      border-left: 1px solid #ebeef0;
      border-right: 1px solid #ebeef0;
  }
}

