.dimTheme {
  .twitterBackground {
    background-color: #15202b;
    color: #f9fafa;
  }
  
  .twitterTrends {
    background-color: #253341;
    color: #f9fafa;
  }
  
  .twitterSidebar {
    color: #f9fafa;
    a {
      color: #f9fafa;
    }
  }
  
  .mini_layer_menu {
    li {
      &:hover {
        background-color: #253341;
      }
    }
  }
  
  .setting {
    background: #253341;
  }
  
  .feedBorder {
    border: 1px solid #38444d;
  }

  .mob_border_top {
    border-top: 1px solid #38444d;
  }

  .mob_border_bottom {
    border-bottom: 1px solid #38444d;
  }

  .setting_border {
    border-top: 1px solid #38444d;
    border-bottom: 1px solid #38444d;
  }

  .left_border {
    border-left: 1px solid #38444d;
  }
  .left_right_border {
      border-left: 1px solid #38444d;
      border-right: 1px solid #38444d;
  }
}