@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  padding: 0 50px;
  grid-template-columns: .5fr 2fr;
  grid-template-rows: .2fr 3fr;
  grid-template-areas: 
    "sidebar main"
    "sidebar main"
  ;
  gap: 20px;
  overflow-y: auto;
}

.main {
  grid-area: main; 
  display: grid;
  grid-template-columns: 1fr .6fr;
  gap: 20px;
  grid-template-areas: 
  "feed trend";
}

.main_content {
  grid-area: feed;
}

.trend_section {
  grid-area: trend;
}

/* sidebar section */
.sideBar {
  grid-area: sidebar;
}

.container .sidebar_menu {
  min-height: 100vh;
  margin-right: 50px;
  position: fixed;
}

/* .sidebar_menu_link {
  color: #fff;
} */

/* buttons */
button {
  background-color: #1da0f2d8;
  color: #fff;
}

/* icons */
.links {
  color: #1da1f2;
}

.linkIcon:hover {
  color: #1da1f2;
  border-radius: 25px;
  background-color: #1da0f221;
}

.retweet:hover {
  color: rgb(82, 189, 82);
  background-color: rgba(82, 189, 82, 0.096);
}

.like:hover {
  color: rgb(238, 87, 87);
  background: rgba(160, 59, 59, 0.171);
}

._icons {
  color: #8899a6;
}

.tw {
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  right: 20px;
}

/* Responsive Screens */

@media screen and (max-width: 1290px) {
  .container {
    padding: 0 100px;
    grid-template-columns: .1fr 1fr;
  }
}

@media screen and (max-width: 1020px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 892px) {
  .container {
    padding: 0 100px;
  }

  .main {
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-areas: 
    "feed";
  }

  .trend_section {
    display: none;
  }
}

@media screen and (max-width: 652px) {
  .container {
    padding: 0 0;
  }
}

@media screen and (max-width: 450px) {  
  .container {
    padding: 0;
    grid-template-columns: 2fr;
    grid-template-rows: 0;
    grid-template-areas: 
      "main"
      "main"
    ;
    gap: 0;
  }

  .tw {
    visibility: visible;
  }
}

