
.mob_side {
  padding: 0 15px;
}

.mob_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.mob_header h2 {
  font-size: 19px;
  font-weight: 700;
}

.mob_header .fa-times {
  font-size: 25px;
}

/* avatar section */
.nav_avatar {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_avatar .mob_avatar_parent {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.nav_avatar .mob_avatar_parent img {
  width: 100%;
  height: 40px;
}

.fa-plus-circle {
  font-size: 25px;
}

.username > .personal_data .name {
  font-size: 14px;
}

.follow_mob {
  display: flex;
}

.follow_mob p {
  font-size: 12px;
  font-weight: 500;
}

.hide {
  /* display: none; */
  left: -150px;
  transition: 5000ms all ease-out;
}

/* menu section */
ul {
  display: inline;
  list-style: none;
  margin-top: -100px;
}

ul .mini_sidebar {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: lighter;
}


li {
  margin: 10px 0;
}

.mob_side .icon {
  margin-right: 10px;
  font-size: 16px;
}